node_modules
*.temp.*
*/**/*.temp.*
*/**/input.txt
*.log
*/**/*.log
.idea
.vscode
.env
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
lcov.info
Package.resolved
dist